body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  margin: 0;
}

@font-face {
  font-family: fontR;
  src: url(../Other/font/NanumSquareR.woff);
}
@font-face {
  font-family: fontB;
  src: url(../Other/font/NanumSquareB.ttf);
}
.sidebar {
  width: 64px;
  height: 100%;
  position: fixed;
  background: #494cb4;
  color: white;
  font-size: 28px;
  flex-direction: column;
  display: flex;
  z-index: 10;
}

.sidebar:hover {
  transition: 0.3s;
  width: 200px;
}

a {
  position: relative;
  color: white;
  display: inline;
}

a:hover {
  cursor: pointer;
}

.sidebar-icon1 {
  width: 35px;
  position: relative;
  left: 12px;
  top: 24px;
  color: white;
}

.sidebar-icon2 {
  width: 35px;
  position: relative;
  left: 12px;
  top: 72px;
  color: white;
}

.sidebar-icon3 {
  width: 35px;
  position: relative;
  left: 12px;
  top: 120px;
  color: white;
}

.sidebar-icon4 {
  width: 35px;
  position: relative;
  left: 12px;
  top: 168px;
  color: white;
}

.sidebar-title {
  font-size: 24px;
  position: absolute;
  display: inline;
  left: -100px;
}

.sidebar:hover .sidebar-title {
  transform: translateX(160px);
  transition: all 0.4s;
}

.nav-container {
  width: 100%;
  height: 70px;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: #aaa 0px 1px 3px;
}

.nav-search {
  width: 550px;
  height: 50px;
  position: relative;
  left: 90px;
  display: flex;
}

.nav-search_box {
  width: 200px;
  height: 50px;
  padding: 12px 10px;
  border: lightgrey solid 1px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
}

.nav-search_box:focus {
  width: 400px;
  animation: search 0.3s;
}

@keyframes search {
  0% {
    width: 200px;
  }
  100% {
    width: 400px;
  }
}
.nav-search-btn_div {
  width: 50px;
  height: 50px;
  background: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search-icon {
  width: 24px;
  height: 24px;
}

.nav-search-btn {
  border: none;
  background: none;
  padding: 0px;
}

.nav-right-container {
  width: 320px;
  height: 50px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.nav-notification-btn {
  height: 100%;
  width: 100%;
  background: none;
  width: 21px;
  height: 24px;
  border: none;
  background: none;
}

.nav-icon-mail {
  position: relative;
  left: 64px;
}

#nav-name-btn {
  width: auto;
  height: 24px;
  position: relative;
  left: 110px;
  display: block;
  background: none;
  border: none;
}

#nav-name-btn span {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 18px;
}

.main {
  width: calc(100% - 64px);
  height: 100vh;
  background: #fafafa;
  margin-left: auto;
}

.main-title {
  position: relative;
  left: 96px;
  top: 32px;
}

.main-dashboard-container {
  width: 92%;
  height: 150px;
  margin: auto;
  display: flex;
  position: relative;
  top: 64px;
}

.main-dashboard-card-container {
  width: 25%;
  height: 100%;
  background: white;
  border-radius: 10px;
  margin: 0px 16px;
  box-shadow: 2px 2px 3px #aaa;
}

.card1 {
  border-left: 7px solid skyblue;
}
.card1 * {
  position: relative;
  left: 32px;
  display: flex;
}
.card1 h6 {
  top: 18px;
  font-size: 24px;
  font-weight: normal;
}
.card1 span {
  top: 34px;
  font-size: 28px;
  font-weight: 500;
}
.card1 i {
  font-size: 72px !important;
  top: -32px;
  left: 260px;
}

.card1 {
  border-left: 7px solid skyblue;
}
.card1 * {
  position: relative;
  left: 32px;
  display: flex;
}
.card1 h6 {
  top: 18px;
  font-size: 24px;
  font-weight: normal;
}
.card1 span {
  top: 34px;
  font-size: 28px;
  font-weight: 500;
}
.card1 i {
  font-size: 72px !important;
  top: -32px;
  left: 260px;
}

.card2 {
  border-left: 7px solid lightgreen;
}
.card2 * {
  position: relative;
  left: 32px;
  display: flex;
}
.card2 h6 {
  top: 18px;
  font-size: 24px;
  font-weight: normal;
}
.card2 span {
  top: 34px;
  font-size: 28px;
  font-weight: 500;
}
.card2 i {
  font-size: 72px !important;
  top: -32px;
  left: 260px;
}

.card3 {
  border-left: 7px solid darkblue;
}
.card3 * {
  position: relative;
  left: 32px;
  display: flex;
}
.card3 h6 {
  top: 18px;
  font-size: 24px;
  font-weight: normal;
}
.card3 span {
  top: 34px;
  font-size: 28px;
  font-weight: 500;
}
.card3 i {
  font-size: 72px !important;
  top: -32px;
  left: 260px;
}

.card4 {
  border-left: 7px solid orange;
}
.card4 * {
  position: relative;
  left: 32px;
  display: flex;
}
.card4 h6 {
  top: 18px;
  font-size: 24px;
  font-weight: normal;
}
.card4 span {
  top: 34px;
  font-size: 28px;
  font-weight: 500;
}
.card4 i {
  font-size: 72px !important;
  top: -32px;
  left: 260px;
}

.earningTask {
  width: 90%;
  height: 600px;
  margin: auto;
  position: relative;
  top: 96px;
  display: flex;
}

.earningTask-overview {
  width: 60%;
  height: 550px;
  padding-bottom: 50px;
  background: #f9f9f9;
  box-shadow: 0 0 2px 2px #ddd;
  border-radius: 10px;
}

.earningTask h4 {
  font-size: 24px;
  position: relative;
  left: 16px;
  top: 12px;
  margin: auto;
}

.earningTask-overview-header {
  width: 100%;
  height: 50px;
  background: #f1f1f1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.earningTask-tasks-container {
  width: 30%;
  height: 550px;
  background: white;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 2px #bbb;
}

.earningTask-tasks-item {
  margin: 24px 0px;
  font-size: 18px;
}

.nav-name-div {
  width: 300px;
  height: 200px;
  background: #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: 72px;
  right: 96px;
  z-index: 10;
  display: none;
}

.nav-name-click-btn {
  margin: 0;
  padding: 0;
  width: auto;
  /* min-width: 100px; */
  height: auto;
  position: absolute;
  /* left: 110px; */
}

.nav-name-click-name {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 24px;
  top: 12px;
}

.nav-name-click-btn i {
  font-size: 24px;
  position: absolute;
  left: 255px;
  top: 12px;
} 
#nav-name-click-account {
  font-size: 16px;
  position: absolute;
  left: 24px;
  top: 64px;
  color: black;
  text-decoration: none;
}
#nav-name-click-account:hover {
  text-decoration: underline;
}

#nav-name-click-environment {
  font-size: 16px;
  position: absolute;
  left: 24px;
  top: 96px;
  color: black;
  text-decoration: none;
}
#nav-name-click-environment:hover {
  text-decoration: underline;
}

#nav-name-click-logout {
  font-size: 16px;
  position: absolute;
  left: 24px;
  top: 160px;
  color: black;
  text-decoration: none;
}
#nav-name-click-logout:hover {
  text-decoration: underline;
}
#nav-name-click-logout {
  color: red;
  margin-left: 210px;
}/*# sourceMappingURL=AdminPage.css.map */